section.banner {
  background-image: url("./../../assets/img/img-cloud.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #e6f7fe;

  ._margin-left {
    padding-left: 40px;
  }

  h1 {
    font-size: 35px;
    letter-spacing: -1px;
    line-height: 40px;
    color: #1e2021;
    font-weight: 600;
    font-family: "Poppins-Bold";
    margin-bottom: 25px;

    span {
      color: #03a9f4;
    }
  }

  .indicator {
    width: 75%;
    height: 2px;
    background-color: rgba(49, 53, 55, 0.5);
    border-radius: 50%;
    margin-bottom: 35px;

    &::before {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      background-color: #f75d2d;
      position: relative;
      top: -1px;
    }
  }

  p {
    width: 75%;
    font-size: 20px;
    line-height: 30px;
    color: #656a70;
    margin-bottom: 30px;
  }

  button {
    width: 220px;
    margin-bottom: 35px;
  }

  .girl {
    transform: translate(-5%, 14.5%);
    position: relative;
    z-index: 5;
  }

  ._form {
    height: 135px;
    filter: drop-shadow(0px 4px 15px rgba(202, 202, 202, 1));
    background-color: #03a9f3;
    padding-bottom: 33px;
    transform: translateY(40%);

    button {
      width: 100%;
      margin: 0;
    }
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 991px) {
  section.banner {
    h1,
    .indicator,
    p,
    button {
      transform: translateY(50px);
    }

    button {
      margin-bottom: 0;
    }

    ._form {
      height: 280px;
      padding-bottom: 20px;
      transform: translateY(40%);

      label {
        margin-top: 15px;
      }

      button {
        width: 80%;
        margin-top: 20px;
        transform: none;
      }
    }

    ._position-md-relative {
      position: relative;
    }
    .girl {
      transform: none;
      position: absolute;
      height: 300px;
      width: auto;
      left: -120px;
      top: -178px;
    }
  }
}

@media screen and (max-width: 767px) {
  section.banner {
    ._sm_d-none {
      display: none;
    }

    h1._sm_h1 {
      text-align: center;
      font-size: 32px;
      margin-bottom: 0;
    }

    ._sm_indicator {
      margin: 30px auto 30px auto;
    }

    ._position-md-relative {
      position: relative;
    }
    .girl {
      transform: none;
      position: absolute;
      left: -120px;
      top: -178px;
    }
  }
}

@media screen and (max-width: 575px) {
  section.banner {
    padding-top: 20px;
    position: relative;
    z-index: -2;

    h1._sm_h1,
    ._sm_indicator,
    button,
    p,
    .girl {
      margin: 0;
      padding: 0;
      transform: none;
    }

    ._margin-left {
      padding-left: 12px;
    }

    h1._sm_h1 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 15px;

      span {
        font-size: 28px;
      }
    }

    ._sm_indicator {
      margin: 0 auto 20px auto;
    }

    p {
      font-size: 14px;
      line-height: 18px;
      width: 100%;
    }

    button {
      margin: 25px auto;
      display: block;
    }

    .girl {
      position: static;

      display: block;
      margin: auto;
      transform: translateY(8px);
    }

    ._form {
      height: auto;
      transform: none;

      position: relative;
      z-index: -1;

      label {
        margin-top: 20px;
      }

      button {
        margin: 30px auto 10px auto;
      }
    }
  }
}

@media screen and (max-width: 376px) {
}
