<section class="banner">
  <div class="container-fluid">
    <div class="container">
      <div class="row d-flex flex-row align-items-end">
        <div class="col-8 _margin-left">
          <h1>
            <span>BlueEssaySite.net - </span><br />
            expert help for custom Written
          </h1>
          <div class="indicator"></div>
          <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized</p>
          <button class="d_color2">place in order</button>
        </div>
        <div class="col-4">
          <img class="girl" src="../../../assets/img/girl.png" alt="girl with a notebook" />
        </div>
        <div class="col-12 d-flex align-items-end _form">
          <div class="row g-0 d-flex flex-row justify-content-around align-items-end">
            <div class="col-2">
              <label for="paperType">Type of paper</label>
              <input type="text" placeholder="White A4" id="paperType"></input>
            </div>
            <div class="col-2">
              <label for="writerLvl">Writer level</label>
              <input type="text" placeholder="High school" id="writerLvl"></input>
            </div>
            <div class="col-2">
              <label for="urgency">Urgency</label>
              <input type="text" placeholder="21 days" id="urgency"></input>
            </div>
            <div class="col-2">
              <label for="pagesNum">Number of pages</label>
              <input type="number" placeholder="2" id="pagesNum"></input>
            </div>
            <div class="col-2">
              <button class="d_color1">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
