<section class="discounts">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8 d-flex flex-column align-items-center">
          <h3>Our discount program</h3>
          <p>By utilizing elements and principles of Material Design, we were able to create a framework that incorporates</p>
        </div>
        <div class="col-2"></div>
        <div class="col-9 m-auto">
          <div class="grid-container">
            <div class="item1 grid-card">
              <span>4%</span>
              <span>OFF</span>
              <p>for more than</p>
              <h6>15 pages</h6>
            </div>
            <div class="item2 grid-card">
              <span>5%</span>
              <span>OFF</span>
              <p>for more than</p>
              <h6>20 pages</h6>
            </div>
            <div class="item3 grid-card">
              <span>10%</span>
              <span>OFF</span>
              <p>for more than</p>
              <h6>50 pages</h6>
            </div>
            <div class="item4 grid-card">
              <span>15%</span>
              <span>OFF</span>
              <p>for more than</p>
              <h6>100 pages</h6>
            </div>
            <div class="item5 grid-discountCode">
              <div class="discount-card">
                <h4>try our service & get huge discounts</h4>
                <div class="getOff-container">
                  <span>get</span>
                  <span>15%</span>
                  <span>off</span>
                  <span>for your 1st order</span>
                  <img src="./assets/img/scissors.png" alt="scissors icon" class="scissors" />
                  <img src="./assets/img/stars.png" alt="stars" class="stars" />
                </div>
                <h5>Use <i>discount15</i> as discount code</h5>
                <img src="./assets/img/balloon.png" alt="ballon icon" class="balloon" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
