<footer>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-0 d-sm-none d-xl-block col-xl-4 text-center">
          <img src="./assets/img/logo.png" alt="logo" />
        </div>
        <div class="col-0 d-none col-sm-3 d-sm-block col-lg-2 col-xl-0 d-xl-none text-center">
          <img src="./assets/img/logo-sm.png" alt="logo small" />
        </div>
        <div class="m-auto col-9 col-lg-10 col-xl-8 d-flex justify-content-end align-items-center">
          <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">about us</a></li>
            <li><a href="#">order now</a></li>
            <li><a href="#">disclaimer</a></li>
            <li><a href="#">why us</a></li>
            <li><a href="#">contacts</a></li>
            <li><a href="#">blog</a></li>
          </ul>
        </div>
      </div>
      <div class="row g-0 d-flex justify-content-between _section-wrapper">
        <div class="col-sm-6 col-md-4 col-xl-2">
          <h6>Section number 1</h6>
          <p>
            But I must explain to you how Mistaken idea of denouncing Praising pain was born Account of the system Great explorer of the truth No one
            rejects, dislikes Mistaken idea of denouncing Praising pain was born
          </p>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-2">
          <h6>Section number 2</h6>
          <p>
            But I must explain to you how Mistaken idea of denouncing Praising pain was born Account of the system Great explorer of the truth No one
            rejects, dislikes Mistaken idea of denouncing Praising pain was born
          </p>
        </div>
        <div class="col-md-4 col-xl-2 _section3">
          <h6>Section number 3</h6>
          <p>
            But I must explain to you how Mistaken idea of denouncing Praising pain was born Account of the system Great explorer of the truth No one
            rejects, dislikes Mistaken idea of denouncing Praising pain was born
          </p>
        </div>
        <div class="d-none d-xl-block col-xl-2">
          <h6>Section number 4</h6>
          <p>
            But I must explain to you how Mistaken idea of denouncing Praising pain was born Account of the system Great explorer of the truth No one
            rejects, dislikes Mistaken idea of denouncing Praising pain was born
          </p>
        </div>
      </div>
      <div class="row d-flex flex-row align-items-center">
        <div class="col-sm-6 col-lg-3">
          <div class="bottom-copyright">
            <p>Copyright В© 2017 <br />BlueEssaySite.net <br />All rights reserved.</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="bottom-socials">
            <div class="facebook"></div>
            <div class="twitter"></div>
            <div class="pinterest"></div>
            <div class="googlePlus"></div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="bottom-phone">
            <img src="./assets/img/footer-phone.png" alt="phone icon" />
            <span class="intro">Tall free:</span>
            <span class="contact">+ 3 044 111 2732</span>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="bottom-email">
            <img src="./assets/img/footer-email.png" alt="email icon" />
            <span class="intro">Email:</span>
            <span class="contact">blueessay@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
