<header class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-0 d-sm-none col-md-4 d-md-flex _align-logo">
        <img src="./assets/img/logo.png" alt="logo" />
      </div>
      <div class="col-0 d-none col-sm-4 d-sm-flex col-md-0 d-md-none _align-logo">
        <img src="./assets/img/logo-sm.png" alt="logo" />
      </div>
      <div class="col-12 col-sm-8 d-flex flex-row justify-content-center justify-content-sm-end align-items-center">
        <ul>
          <li><a href="#">services</a></li>
          <li><a href="#">about us</a></li>
          <li><a href="#">how it works</a></li>
        </ul>
        <div class="phone-icon"></div>
        <button class="d_color1">sign in</button>
        <button class="d_color2">order</button>
        <div class="burger-icon"></div>
      </div>
    </div>
  </div>
</header>
