<section class="howItWorks">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h3>Our Simple 4-Step Procedure</h3>
        </div>
        <div class="m-auto col-8 col-sm-6 col-lg-3">
          <div class="card first">
            <img src="./assets/img/03-img-1.png" alt="pencil icon" />
            <span>step 1</span>
            <p>Complete the short order form to buy a paper from our easy essay writing service.</p>
          </div>
        </div>
        <div class="m-auto col-8 col-sm-6 col-lg-3">
          <div class="card second">
            <img src="./assets/img/03-img-2.png" alt="medal icon" /><span>step 2</span>
            <p>
              We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is
              what you want.
            </p>
          </div>
        </div>
        <div class="m-auto col-8 col-sm-6 order-sm-4 order-lg-3 col-lg-3">
          <div class="card third">
            <img src="./assets/img/03-img-3.png" alt="loupe icon" /><span>step 3</span>
            <p>Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standard</p>
          </div>
        </div>
        <div class="m-auto col-8 col-sm-6 order-sm-3 order-lg-4 col-lg-3">
          <div class="card last">
            <img class="rocket" src="./assets/img/03-img-4.png" alt="rocket icon" /><span>step 4</span>
            <p>
              The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several
              free-of-charge features.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
