<section class="ourAdvantages">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h3>Advantages of Our Writing Services</h3>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="./assets/img/02-img-1.png" alt="champion icon" />
            <h5>Professionally-qualified writing experts</h5>
            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="./assets/img/02-img-2.png" alt="checklist icon" />
            <h5>Commitment to deliver papers by deadline</h5>
            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="./assets/img/02-img-3.png" alt="monitor icon" />
            <h5>Top-quality, at a great price - guaranteed</h5>
            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <button class="d_color1">Place an order</button>
        </div>
      </div>
    </div>
  </div>
</section>
