<section class="testimonials">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3>What our clients says</h3>
        </div>
        <div class="col-12">
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="10000" data-pause="hover">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="_carousel-card">
                  <img src="./assets/img/05-user-01.png" alt="user icon" />
                  <p>
                    Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit
                    all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was
                    available. I would give a full ten marks.
                  </p>
                  <span class="name">Lorna Grey</span>
                  <span class="datum">20 apr 2016 at 8:23</span>
                </div>
              </div>
              <div class="carousel-item">
                <div class="_carousel-card">
                  <img src="./assets/img/05-user-02.png" alt="user icon" />
                  <p>
                    Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit
                    all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was
                    available. I would give a full ten marks.
                  </p>
                  <span class="name">Lorna Grey</span>
                  <span class="datum">20 apr 2016 at 8:23</span>
                </div>
              </div>
              <div class="carousel-item">
                <div class="_carousel-card">
                  <img src="./assets/img/05-user-03.png" alt="user icon" />
                  <p>
                    Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit
                    all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was
                    available. I would give a full ten marks.
                  </p>
                  <span class="name">Lorna Grey</span>
                  <span class="datum">20 apr 2016 at 8:23</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
